<div class="container h-screen flex justify-content-center align-items-center">
  <div class="surface-card p-3 shadow-2 border-round w-full lg:w-3">
    <div class="text-center mb-5">
      <img
        src="/assets/img/menubar/logoGeociudad.png"
        alt="Image"
        height="50"
        class="mb-3"
      />
      <div class="text-900 text-3xl font-medium mb-3">UGERDES</div>
      <div class="card flex justify-content-center">
        <p-image
          src="/assets/img/portada/portada.jpeg"
          alt="Image"
          width="450"
        ></p-image>
      </div>
    </div>
    <div>
      <button
        pButton
        pRipple
        label="Ingresar"
        icon="pi pi-map"
        class="w-full"
        routerLink="/auth/login"
      ></button>
    </div>
  </div>
</div>
